/* Light Theme */
body {
	background-color: #FAFAFA;
	color: #181A1F;
}
.c-primary, .c-secondary, .c-primary a, .c-secondary a {
	color: #181A1F;
}
.c-primary {
	background-color: #FAFAFA;
}
.c-secondary {
	background-color: #EAEAEB;
}
button, .css-file, form textarea, form input {
	border-color: #000000;
	color: #000000;
}
.check-mark {
	border-color: #000000;
}
.css-radio .check-mark::after {
	background: #000000;
}

@media (prefers-color-scheme: dark) {
	/* Dark Theme */

	body {
		background-color: #181A1F;
		color: #EFEFEF;
		border-bottom-color: #EFEFEF;
	}
	.c-primary, .c-secondary, .c-primary a, .c-secondary a {
		color: #EFEFEF;
	}
	.c-primary {
		background-color: #181A1F;
	}
	.c-secondary {
		background-color: #282C34;
	}
	button, .css-file, form textarea, form input {
		border-color: #EFEFEF;
		color: #EFEFEF;
	}
	.check-mark {
		border-color: #EFEFEF;
	}
	.css-radio .check-mark::after {
		background: #EFEFEF;
	}
}
