/* Light Theme */
body {
	background-color: #ffffff;
	color: #222222;
}
.c-primary, .c-secondary, .c-primary a, .c-secondary a{
	color: #222222;
}
.c-primary {
	background-color: #FFFFFF;
}
.c-secondary {
	background-color: #ECECEA;
}
button, .css-file, form textarea, form input  {
	border-color: #000000;
	color: #000000;
}
.check-mark {
	border-color: #000000;
	background-color: #ffffff;
}
.css-radio .check-mark:after {
	background: #000000;
}


@media (prefers-color-scheme: dark){
	/* Dark Theme */

	body {
		background-color: #222222;
		color: #EFEFEF;
		border-bottom-color: #EFEFEF;
	}
	.c-primary, .c-secondary, .c-primary a, .c-secondary a {
		color: #EFEFEF;
	}
	.c-primary{
		background-color: #222222;
	}
	.c-secondary {
		background-color: #393939;
	}
	button, .css-file, form textarea, form input {
		border-color: #ffffff;
		color: #ffffff;
	}
	.check-mark {
		border-color: #ffffff;
		background-color: #000000;
	}
	.css-radio .check-mark:after {
		background: #ffffff;
	}

}
