/* Black Theme */

/* 
Set the background to black and the text colour to (nearly) white
*/

body {
	background-color: #000000;
	color: #EFEFEF;
	border-bottom-color: #EFEFEF;
}

/* 
As all elements are black, add a white bottom border 
*/

.section, .section-nav {
	border-bottom: .1em;
	border-bottom-style: solid;
	border-bottom-color: #EFEFEF;
}

/* 
Define colours to be used in this document 
*/

.c-primary {
	background-color: #000000;
	color: #EFEFEF;
	border-bottom-color: #EFEFEF;
}

.c-primary a {
	color: #EFEFEF;
}

.c-secondary {
	background-color: #000000;
	color: #EFEFEF;
	border-bottom-color: #EFEFEF;
}

.c-secondary a {
	color: #EFEFEF;
}

.c-appbar {
	background-color: #000000;
	color: #EFEFEF;
	border-bottom-color: #EFEFEF;
}

.c-appbar a {
	color: #EFEFEF;
}

/* Keep c-shibe as is, as the black icons would not be visible */

.c-shibe {
	background-color: #cda780;
	color: #222222;
	border-bottom-color: #222222;
}

.c-shibe a {
	color: #222222;
}

/* Define popular colours, if this css style is used in other projects */

.c-red {
	background-color: #8F140C;
	color: #EFEFEF;
	/*for dark colours*/
	border-bottom-color: #EFEFEF;
}

.c-red a {
	color: #EFEFEF;
	/*for dark colours*/
}

.c-blue {
	background-color: #1673B6;
	color: #222222;
	/*for light colours*/
	border-bottom-color: #222222;
}

.c-blue a {
	color: #222222;
	/*for light colours*/
}

.c-grey {
	background-color: #ECECEA;
	color: #222222;
	border-bottom-color: #222222;
}

.c-grey a {
	color: #222222;
}



/* Colour form elements (and related) */

button {
	border-color: #ffffff;
	color: #ffffff;
}

form textarea, form input {
	border-color: #ffffff;
	color: #ffffff;
}

/* Colour the custom radio button */

.checkmark {
	border-color: #ffffff;
	background-color: #000000;
}

/* Colour the indicator (dot/circle) */

.css-radio .checkmark:after {
	background: #ffffff;
}