/* Black Theme */

/*
Set the background to black and the text colour to (nearly) white
*/

body {
	background-color: #000000;
	color: #EFEFEF;
	border-bottom-color: #EFEFEF;
}

/*
As all elements are black, add a white bottom border
*/

.section, .section-nav {
	border-bottom: .1em;
	border-bottom-style: solid;
	border-bottom-color: #EFEFEF;
}

/*
Define colours to be used in this document
*/
.c-primary, .c-secondary, .c-primary a, .c-secondary a {
	color: #EFEFEF;
}

.c-primary, .c-secondary {
	background-color: #000000;
}

/* Keep c-shibe as is, as the black icons would not be visible */
.c-app-bar--shibe {
	border-bottom-color: #222222;
}



/* Colour form elements (and related) */
button, .css-file, form textarea, form input  {
	border-color: #ffffff;
	color: #ffffff;
}
.check-mark {
	border-color: #ffffff;
	background-color: #000000;
}
.css-radio .check-mark:after {
	background: #ffffff;
}
