/* Black Theme */

/*
Set the background to black and the text colour to (nearly) white
*/

body {
	background-color: #000000;
	color: #ABB2BF;
	border-bottom-color: #ABB2BF;
}

/*
As all elements are black, add a white bottom border
*/

.section, .section-nav {
	border-bottom: 0.1em;
	border-bottom-style: solid;
	border-bottom-color: #ABB2BF;
}

/*
Define colours to be used in this document
*/
.c-primary, .c-secondary, .c-primary a, .c-secondary a {
	color: #ABB2BF;
}

.c-primary, .c-secondary {
	background-color: #000000;
}

/* Colour form elements (and related) */
button, .css-file, form textarea, form input {
	border-color: #ABB2BF;
	color: #ABB2BF;
}
.check-mark {
	border-color: #ABB2BF;
}
.css-radio .check-mark::after {
	background: #ABB2BF;
}
