/* Dark Theme */

/*
Set the background to black and the text colour to (nearly) white
*/

body {
	background-color: #222222;
	color: #EFEFEF;
	border-bottom-color: #EFEFEF;
}


/* Dark background colours */
.c-primary, .c-secondary, .c-app-bar, .c-toast, .c-primary a, .c-secondary a, .c-app-bar a, .c-toast a  {
	color: #EFEFEF;
}


/* Light background colours */
.c-shibe, .c-shibe a {
	color: #222222;
}


/* Colours */
.c-primary{
	background-color: #222222;
}
.c-secondary {
	background-color: #393939;
}
.c-shibe {
	background-color: #cda780;
}
.c-app-bar, .c-toast {
	background-color: #000000;
}


/* Colour form elements (and related) */

button {
	border-color: #ffffff;
	color: #ffffff;
}

form textarea, form input {
	border-color: #ffffff;
	color: #ffffff;
}

/* Colour the custom radio button */

.check-mark {
	border-color: #ffffff;
	background-color: #000000;
}

/* Colour the indicator (dot/circle) */

.css-radio .check-mark:after {
	background: #ffffff;
}
