/* Dark Theme */

/*
Set the background to black and the text colour to (nearly) white
*/

body {
	background-color: #222222;
	color: #EFEFEF;
	border-bottom-color: #EFEFEF;
}
/* Dark background colours */
.c-primary, .c-secondary, .c-primary a, .c-secondary a {
	color: #EFEFEF;
}

/* Colours */
.c-primary{
	background-color: #222222;
}
.c-secondary {
	background-color: #393939;
}



/* Colour form elements (and related) */

button, .css-file, form textarea, form input {
	border-color: #ffffff;
	color: #ffffff;
}
/* Colour the custom radio button */
.check-mark {
	border-color: #ffffff;
	background-color: #000000;
}
/* Colour the indicator (dot/circle) */
.css-radio .check-mark:after {
	background: #ffffff;
}
