/* Light Theme */

/* 
Set the background to white and the text colour to (nearly) black
*/

body {
	background-color: #ffffff;
	color: #222222;
}

/* Dark background colours */ 
.c-appbar, .c-toast, .c-appbar a, .c-toast a{
	color: #EFEFEF;
}

/* Light background colours */
.c-primary, .c-secondary, .c-shibe, .c-primary a, .c-secondary a, .c-shibe a{
	color: #222222;
}

/* Colours */
.c-primary {
	background-color: #FFFFFF;
}

.c-secondary {
	background-color: #ECECEA;
}

.c-appbar, .c-toast {
	background-color: #000000;
}

.c-shibe {
	background-color: #cda780;
}

/* Colour form elements (and related) */

button {
	border-color: #000000;
	color: #000000;
}

form textarea, form input {
	border-color: #000000;
	color: #000000;
}

/* Colour the custom radio button */

.checkmark {
	border-color: #000000;
	background-color: #ffffff;
}

/* Colour the indicator (dot/circle) */

.css-radio .checkmark:after {
	background: #000000;
}