:root{
	--text-mod: 1;
	--z-index-on-top: 99;
	--bottom-margin: 2em;
	--rounding: 1em;
}

*, *:before, *:after {
	font-family: Verdana, sans-serif;
	box-sizing: border-box;
	word-wrap: break-word;
	-ms-user-select: none;
	user-select: none;
	margin: 0em;
	padding: 0em;
}

body {
	font-size: calc((12px + 0.4vw)* var(--text-mod));
}

/* CSS for iOS devices only 
*/
@supports (-webkit-overflow-scrolling: touch) {
	body {
		font-size: calc((16px + 0.4vw)* var(--text-mod));
	}
}

/* Setup margins for text and set the font family - use browser defined text sizes - they know best for that
*/

h1, h2, h3, h4, h5, h6, p, span, form label, a, input{
	margin-top: 0.3em;
	margin-bottom: 0.5em;
}

form label{
	display: inline-block;
}

.navigation-buffer {
	width: 100%;
	height: 9em;
}

/* Define a section, this will expand to fill the whole page. meaning content is in horizontal 'stripes'
*/

.section, .section-nav, .appbar, #toast-notification {
	width: 100%;
	padding: 0px;
	overflow: auto;
}

.section-nav, #toast-notification {
	position: fixed;
	z-index: var(--z-index-on-top);
}

#toast-notification{
	bottom: var(--bottom-margin);
	border: .1em;
	border-style: solid;
}

/* Centre content when the page is greater than 55em wide 
*/
nav, .content {
	max-width: 55em;
	margin: auto;
	padding: 1em;
	overflow: hidden;
}

/* Justify the text to keep it looking tidy
*/
.content p {
	text-align: justify;
}

/* Define an image - this will resize as the screen does so the page is adaptive 
*/

.scale-img, .fixed-img, .content-img {
	padding: 0.1em 1em;
}

.content-img {
	width: 40%;
}

/* Define a wide image - this will always take up the width of the screen
*/

.content-img-wide {
	width: 100%;
	padding: 0.1em 0em;
}

/* Increase the width of images for tablet devices and other 'medium' form factors 
*/

@media only screen and (max-width: 800px) {
	.content-img {
		width: 50%;
	}
}

/* Make regular images wide for smartphones and any device considered 'small'
*/

@media only screen and (max-width: 600px) {
	.content-img {
		width: 100%;
		padding: 0.1em 0em;
	}
}

/* Make all of the actual images (inside the image containers fill the container) Give these a max height so the whole screen isn't taken up.
*/

.content-img img, .content-img-wide img, .fixed-img img, .scale-img img {
	border-radius: 0.5em;
	max-height: 450px;
	display: block;
}

.content-img img, .content-img-wide img, .scale-img img {
	width: 100%;
	margin: 0 auto;
}

/* Pull content to the rhs and lhs respectively 
*/
.right{
	position: relative;
	padding-right: 0em;
	float: right;
}

.left {
	position: relative;
	padding-left: 0em;
	float: left;
}

/*
Define container for nav icons
*/
.nav-icons {
	padding: 0em;
	padding-bottom: 0.5em;
}

/* Define the nav
*/

nav {
	position: relative;
	overflow: hidden;
}

nav ul {
	display: inline-block;
	list-style: none;
	min-width: 1px;
	padding: 0em;
	margin: 0em;
}

nav ul li {
	display: inline-block;
	padding: 0.5em 1em 0.5em 0em;
}

nav ul li a, #overflow {
	text-decoration: none;
	padding: 0.7em 0.3em;
	border-bottom-width: 0.1em;
	border-bottom-style: none;
}

nav ul li a.current {
	padding-bottom: 0.5em;
	border-bottom-width: 0.3em;
}

nav ul li a:hover, #overflow:hover, nav ul li a.current {
	border-bottom-style: solid;
	cursor: pointer;
}

#nav-content {
	max-height: 3em;
}

#nav-overflow li {
	display: block;
	padding-top: 1em;
}

#overflow {
	display: none;
}


#toast-notification {
	visibility: hidden;  
	margin: 0 auto;
	text-align: center; 
	border-radius: 20em; 
	position: fixed; 
	z-index: var(--z-index-on-top); 
  }
  
  #toast-notification.show {
	visibility: visible;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: var(--bottom-margin); opacity: 1;}
  }
  @keyframes fadeout {
	from {bottom: var(--bottom-margin); opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }

/* Modify the default style for forms making them look like they are not from 2003...
*/
form, button, form textarea, form input {
	border-style: solid;
	border-radius: 0.5em;
	width: 100%;
	font-size: 1em;
	background-color: rgba(0, 0, 0, 0);

}

button, form textarea, form input{
	border-width: 0.1em;
	padding: 0.5em;
}

form{
	border-width: 0em;
}

button {
	display: block;
	margin-bottom: 0.5em;
	cursor: pointer;
	break-inside: avoid-column;
}

form textarea, form input {
	resize: none;
	overflow: auto;
}

.item-pair, .button-pair {
	column-count: 2;
	column-gap: 1em;
}

.button-pair, .button {
	margin-top: 0.5em;
}


/* The container */

.css-radio {
	display: block;
	position: relative;
	padding-left: 1.5em;
	margin-bottom: 0px;
	cursor: pointer;
	font-size: 1em;
	user-select: none;
}

/* Hide the browser's default radio button */

.css-radio input {
	display: none;
	cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
	border-width: 0.1em;
	border-style: solid;
	position: absolute;
	top: -0.15em;
	left: 0;
	height: 1em;
	width: 1em;
	border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */

.css-radio input:checked~.checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */

.css-radio .checkmark:after {
	top: 0.15em;
	left: 0.15em;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
}

