:root{
	/* Variables */
	--text-mod: 1;
	/* Variables */
	--const-element-on-top: 99;
	--const-toast-bottom-margin: 2em;
	--const-toast-rounding: 10em;
	--const-element-rounding: 0.7em;
	--const-section-rounding: 0em;
	--const-max-content-width: 55em;

}

*, *:before, *:after {
	font-family: Verdana, sans-serif;
	box-sizing: border-box;
	word-wrap: break-word;
	-ms-user-select: none;
	user-select: none;
	margin: 0em;
	padding: 0em;
}

body {
	font-size: calc((12px + 0.4vw)* var(--text-mod));
}

/* CSS for iOS devices only
*/
@supports (-webkit-overflow-scrolling: touch) {
	body {
		font-size: calc((16px + 0.4vw)* var(--text-mod));
	}
}

/* Setup margins for text and set the font family - use browser defined text sizes - they know best for that
*/

h1, h2, h3, h4, h5, h6, p, span, form label, a, input{
	margin-top: 0.3em;
	margin-bottom: 0.5em;
}

form label{
	display: inline-block;
}

.navigation-buffer {
	width: 100%;
	height: 9em;
}

/* Define a section, this will expand to fill the whole page. meaning content is in horizontal 'stripes'
*/

.section, .section-nav, .app-bar, #toast-notification {
	width: 100%;
	padding: 0px;
	overflow: auto;
	border-radius: 0 0 var(--const-section-rounding) var(--const-section-rounding);
}

.section-nav, #toast-notification {
	position: fixed;
	z-index: var(--const-element-on-top);
}


#toast-notification{
	bottom: var(--const-toast-bottom-margin);
	border: 0.1em;
	border-style: solid;
}

/* Centre content when the page is greater than 55em wide
*/
nav, .section__content {
	max-width: var(--const-max-content-width);
	margin: auto;
	padding: 1em;
	overflow: hidden;
}

/* Justify the text to keep it looking tidy
*/
.section__content p {
	text-align: justify;
}

/* Define an image - this will resize as the screen does so the page is adaptive
*/
.img--scale, .img--fixed, .img--content {
	padding: 0.1em 1em;
}

.img--content {
	width: 40%;
}

/* Define a wide image - this will always take up the width of the screen
*/
.img--content-wide {
	width: 100%;
	padding: 0.1em 0em;
}

/* Increase the width of images for tablet devices and other 'medium' form factors
*/

@media only screen and (max-width: 55em) {
	.img--content {
		width: 50%;
	}
}

/* Make regular images wide for smartphones and any device considered 'small'
*/

@media only screen and (max-width: 20em) {
	.img--content {
		width: 100%;
		padding: 0.1em 0em;
	}
}

/* Make all of the actual images (inside the image containers fill the container) Give these a max height so the whole screen isn't taken up.
*/

.img--content img, .img--content-wide img, .img--fixed img, .img--scale img {
	border-radius: var(--const-element-rounding);
	max-height: calc(var(--const-max-content-width)/ 2);
	display: block;
}

.img--content img, .img--content-wide img, .img--scale img {
	width: 100%;
	margin: 0 auto;
}

/* Pull content to the rhs and lhs respectively
*/
.right{
	position: relative;
	padding-right: 0em;
	float: right;
}

.left {
	position: relative;
	padding-left: 0em;
	float: left;
}

/*
Define container for nav icons
*/
.app__icon {
	padding: 0em;
	padding-bottom: 0.5em;
}

/* Define the nav
*/

nav {
	position: relative;
	overflow: hidden;
}

nav ul {
	display: inline-block;
	list-style: none;
	min-width: 1px;
	padding: 0em;
	margin: 0em;
}

nav ul li {
	display: inline-block;
	padding: 0.5em 1em 0.5em 0em;
}

nav ul li a, .overflow {
	text-decoration: none;
	padding: 0.7em 0.3em;
	border-bottom-width: 0.1em;
	border-bottom-style: none;
}

nav ul li a.current {
	padding-bottom: 0.5em;
	border-bottom-width: 0.3em;
}

nav ul li a:hover, .overflow:hover, nav ul li a.current {
	border-bottom-style: solid;
	cursor: pointer;
}

.nav__content {
	max-height: 3em;
}

.nav__overflow li {
	display: block;
	padding-top: 1em;
}

.overflow {
	display: none;
}


#toast-notification {
	visibility: hidden;
	margin: 0 auto;
	text-align: center;
	border-radius: var(--const-toast-rounding);
	position: fixed;
	z-index: var(--z-index-on-top);
  }

  #toast-notification.show {
	visibility: visible;
	animation: fade-in 0.5s, fade-out 0.5s 2.5s;
  }

  /* Animations to fade the toast in and out */
  @keyframes fade-in {
	from {bottom: 0; opacity: 0;}
	to {bottom: var(--const-toast-bottom-margin); opacity: 1;}
  }
  @keyframes fade-out {
	from {bottom: var(--const-toast-bottom-margin); opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }

/* Modify the default style for forms making them look like they are not from 2003...
*/
form, button, form textarea, form input {
	border-style: solid;
	border-radius: var(--const-element-rounding);
	width: 100%;
	font-size: 1em;
	background-color: rgba(0, 0, 0, 0);

}

button, form textarea, form input{
	border-width: 0.1em;
	padding: 0.5em;
}

form{
	border-width: 0em;
}

button {
	display: block;
	margin-bottom: 0.5em;
	cursor: pointer;
	break-inside: avoid-column;
}

form textarea, form input {
	resize: none;
	overflow: auto;
}

.pair--item, .pair--button {
	column-count: 2;
	column-gap: 1em;
}

.pair--button, .button {
	margin-top: 0.5em;
}


/* The container */

.css-radio {
	display: block;
	position: relative;
	padding-left: 1.5em;
	margin-bottom: 0px;
	cursor: pointer;
	font-size: 1em;
	user-select: none;
}

/* Hide the browser's default radio button */

.css-radio input {
	display: none;
	cursor: pointer;
}

/* Create a custom radio button */

.check-mark {
	border-width: 0.1em;
	border-style: solid;
	position: absolute;
	top: -0.15em;
	left: 0;
	height: 1em;
	width: 1em;
	border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.check-mark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */

.css-radio input:checked~.check-mark:after {
	display: block;
}

/* Style the indicator (dot/circle) */

.css-radio .check-mark:after {
	top: 0.15em;
	left: 0.15em;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
}
